.skills-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 60%;
    height: 60%;
    justify-self: center;
}

@media only screen and (max-width: 600px) {
.skills-container {
    width: 50%;
    height: 80%;
    text-align: center;	
    justify-self: center;
    }
}
